h1{
  color:pink;
  background-color:seashell;
  text-aligh: center;
  font-family: "Time New Roman", Times, serif;
}
h2{
  color:pink;
  background-color:seashell;
  text-aligh: center;
  font-family: "Time New Roman", Times, serif;
}

p{
  color: black;
  font-family: sans-serif;
}

.lake{
  width:400px;
  height:260px;
  object-fit: cover;
}

.header{
  display: flex;
  justify-content: space-around;
}

.hometown{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
